<div class="card">
    <div class="card-header">
        <h3 class="booking_object_card">
            {{ object.getObjectType() }}: {{ object.getObjectName() }}. Room: {{ object.getRoom() }}
        </h3>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush bg-info mb-3">
            <li class="list-group-item">
                Address : <a href="{{ object.getAddress() }}">Show on map</a>
            </li>
            <li class="list-group-item">
                Contact person: {{ object.getContactPerson() }}
            </li>
            <li class="list-group-item">
                Contact person phone: {{ object.getContactPersonPhone() }}
            </li>
            <li class="list-group-item">
                Number of rooms: {{ object.getNumberOfRooms() }}
            </li>
            <li class="list-group-item">
                Price per night: {{ object.getPricePerNight() }}
            </li>
            {% if object.getObjectType() == constant('App\\Model\\Enum\\BookingObjectEnum::BOOKING_OBJECT_COTTAGE') %}
                <li class="list-group-item">
                    Kitten: {{ object.isKitten() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Bathroom: {{ object.isBathroom() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Swimming pool: {{ object.isSwimmingPool() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Billiards: {{ object.isBilliards() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Sauna: {{ object.isSauna() ? 'Yes' : 'No' }}
                </li>
            {% elseif object.getObjectType() == constant('App\\Model\\Enum\\BookingObjectEnum::BOOKING_OBJECT_PENSION') %}
                <li class="list-group-item">
                    Television set: {{ object.isTelevisionSet() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Shower in the room: {{ object.isShowerInTheRoom() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Air conditioning: {{ object.isAirConditioning() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Cleaning of rooms: {{ object.isCleaningOfRooms() ? 'Yes' : 'No' }}
                </li>
                <li class="list-group-item">
                    Three meals a day: {{ object.isThreeMealsADay() ? 'Yes' : 'No' }}
                </li>
            {% endif %}
        </ul>
        {% if booking %}
            <div class="card-footer">
                <span>Last booking date: {{ object.getLastBooking()|date('Y-m-d') }}</span>
                    <a href="{{ url('create_booking', {'object_name':object.getObjectName(), 'user_email':app.getUser().getEmail(), 'room_number':object.getRoom()}) }}" class="btn btn-info booking_link">Booking</a>
            </div>
        {% endif %}
    </div>
</div>