{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    <h2>Landlord objects</h2>
    <br>
    {% for object in objects %}
        {% include 'includes/object_card.html.twig' with {'booking': false} %}
    {% else %}
        <h3>You have not added any objects yet</h3>
    {% endfor %}
{% endblock %}

