{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <h2>Register new object</h2>

    {% include 'includes/form.html.twig' with {'form':register_object_form} %}

    <script src="{{ asset('/asset/js/map_address.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBG_BakTNO7HyWfY5uW90avdNfQhgiG6UY&callback=initMap">
    </script>
{% endblock %}