{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header"><h2>Filter</h2></div>
        <div class="card-body">
            <form action="{{ url('filter_booking_object') }}" method="post" id="filter_form">
                <div class="form-group">
                    <input type="text" class="form-control" name="filter_search" id="filter_search"
                           placeholder="Search">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="price_min" class="form-control" placeholder="Price from">
                        </div>
                        <div class="col">
                            <input type="text" name="price_max" class="form-control" placeholder="Price to">
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input filter_object_type" id="booking_object_pension"
                               name="object_type" value="pension">
                        <label for="booking_object_pension" class="form-check-label">Pension</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input filter_object_type" id="booking_object_cottage"
                               name="object_type" value="cottage">
                        <label for="booking_object_cottage" class="form-check-label">Cottage</label>
                    </div>
                </div>
                <div class="form-check-inline filter_checkboxes">
                        <div class="form-check-inline cottage_checkbox filter_checkboxes_hidden">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1"  name="kitten" id="check_kitten">
                                <label class="form-check-label" for="check_kitten">Kitten</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1"  name="bathroom" id="check_bathroom">
                                <label class="form-check-label" for="check_bathroom">Bathroom</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="swimming_pool"  id="check_swimming_pool">
                                <label class="form-check-label" for="check_swimming_pool">Swimming pool</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="billiards"  id="check_billiards">
                                <label class="form-check-label" for="check_billiards">Billiards</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1"  name="sauna" id="check_sauna">
                                <label class="form-check-label" for="check_sauna">Sauna</label>
                            </div>
                        </div>
                        <div class="form-check-inline pension_checkbox filter_checkboxes_hidden">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="television_set" value="1"   id="check_television_set">
                                <label class="form-check-label" for="check_television_set">Television set</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1"  name="shower_in_the_room" id="check_shower_in_the_room">
                                <label class="form-check-label" for="check_shower_in_the_room">Shower in the room</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="air_conditioning"  id="check_air_conditioning">
                                <label class="form-check-label" for="check_air_conditioning">Air conditioning</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="cleaning_of_rooms"  id="check_cleaning_of_rooms">
                                <label class="form-check-label" for="check_cleaning_of_rooms">Cleaning of rooms</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1"  name="three_meals_a_day" id="check_three_meals_a_day">
                                <label class="form-check-label" for="check_three_meals_a_day">Three meals a day</label>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Filter" id="filter_submit" class="form-control btn btn-info">
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>

    <script src="{{ asset('asset/js/filter_form.js') }}"></script>

    {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% for object in objects %}
        {% include '/includes/object_card.html.twig' with {'booking': app.getUser() } %}
        <br>
    {% else %}
        <h3>No items added yet</h3>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

