{% extends 'base.html.twig' %}

{% block body %}
    <h3>Login</h3>
    {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% include 'includes/form.html.twig' %}
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=email,first_name,last_name;providers=vkontakte,facebook,google;hidden=;redirect_uri={{ url('login') }};mobilebuttons=0;">
    </div>
{% endblock %}

