{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
        <h3>Register</h3>
    {% endif %}
    {% include 'includes/form.html.twig' with {'form':register_form} %}
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri={{ url('app-register-case') }};mobilebuttons=0;optional=email">
    </div>
{% endblock %}