{% extends "base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Enter additional fields</h1>
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}