{% extends 'base.html.twig' %}

{% block body %}
    <h2>Profile settings</h2>
    <div class="card card_user_setting">
        <h3 class="card-header">Change password</h3>
        <br>
        <div class="alert message" role="alert">
            <p></p>
        </div>
        <div class="card-body">
            {% include 'includes/form.html.twig' with{'form': change_password} %}
        </div>
    </div>
    <br>
    <div class="card card_user_setting">
        <h3 class="card-header">Edit profile</h3>
        <br>
        <div class="alert message" role="alert">
            <p></p>
        </div>
        <div class="card-body">
            {% include 'includes/form.html.twig' with{'form': user_edit} %}
        </div>
    </div>
    <br>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div class="card card_user_setting">
        <h3 class="card-header">Bind or rebind social network to your account</h3>
        <br>
        <div id="uLogin"
             data-ulogin="display=panel;theme=flat;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri={{ url('social_binding') }};mobilebuttons=0;">
        </div>
        <br>
    </div>
    <br>
    <script src="{{ asset('asset/js/change_password.js') }}"></script>
{% endblock %}

